/*
Override the browser body css so we won't show scrollbars
*/
body {
    overflow: hidden;
}

/*
fix scrollbars
*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

html {
   scrollbar-width: none;
}
