/*
Override the browser body css so we won't show scrollbars
*/
body {
  overflow-x: hidden;
  overflow-y:scroll;
}


::-webkit-scrollbar{
  background:#495459;
}

/*
fix scrollbars
*/
html {
  overflow:hidden !important;
}
