@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
/*
Override the browser body css so we won't show scrollbars
*/
body {
  overflow: hidden;
}


::-webkit-scrollbar{
  background:#495459;
}

/*
fix scrollbars
*/
html {
  overflow:hidden !important;
}
